html {
  height: 100%;
}
:root {
  --loginPrincipal: #df6536;
}
body.loginBody {
  margin: 0;
  padding: 0;
  background: url(img/coffeeBGBlur.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  height: 100%;
}
#root {
  height: 100%;
}
.login {
  display: flex;
  align-items: center;
  height: 100%;
}
.loginContainer{
  width: 100%;
}
.loginContainer .title h1 {
  margin: 0;
  padding: 0;
  color: #262626;
  text-transform: uppercase;
  font-size: 36px;
}
.loginContainer .container {
  width: 50%;
  height: 400px;
  background-color: #fff;
  margin: 0 auto;
  border: 2px solid #fff;
  box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}
.loginContainer .container .left {
  float: left;
  width: 50%;
  height: 400px;
  background: url(img/coffee.jpg);
  background-size: cover;
  box-sizing: border-box;
}
.loginContainer .container .right {
  float: right;
  width: 50%;
  height: 400px;
  box-sizing: border-box;
}
.loginContainer .container .right h1 {
  margin: 15px 0;
  text-align: center;
  color: var(--loginPrincipal);
}
.loginContainer .container .right .formBox {
  width: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
  height: 40px;
  background: #fff;
}
.loginContainer .container .right .formBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: var(--loginPrincipal);
}
.loginContainer .container .right .formBox input {
  margin-bottom: 20px;
  width: 100%;
}
.loginContainer .container .right .formBox input[type="text"],
.loginContainer .container .right .formBox input[type="password"] {
  border: none;
  border-bottom: 2px solid var(--loginPrincipal);
  outline: none;
  height: 40px;
}
.loginContainer .container .right .formBox input[type="text"]:focus,
.loginContainer .container .right .formBox input[type="password"]:focus {
  border-bottom: 2px solid #262626;
}
.loginContainer .container .right .formBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  background: #262626;
  cursor: pointer;
  transition: all ease-in-out .3s;
}
.loginContainer .container .right .formBox input[type="submit"]:hover {
  background: var(--loginPrincipal);
}
@media screen and (max-width: 769px) {
  .loginContainer .container .left {
    display: none;
  }
  .loginContainer .container .right {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .loginContainer .container {
    width: 90%;
  }
}
/* Estilo formulario del index */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.containerIndex{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
}
.app-title{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.app-title h2, .app-title i{
    color: #002765;
}
.app-title i{
    font-size: 26px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
}
input.addTodo{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px;
    font-size: 17px;
    padding-left: 20px;
}
button{
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #ff5945;
    color: #fff;
    font-size: 18px;
    transition: all .25s ease;
}
button:hover{
    filter: brightness(.8);
}

@media screen and (max-width: 400px) {
    button{
        padding: 15px;
        border-radius: 0 30px 30px 0;
    }
}

ul{
    list-style: none;
}
ul li{
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    margin-top: 5px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: 0;
    border: 2px solid #ff5945;
}
ul .checked{
    color: #555;
    text-decoration: line-through;
}
ul .checked::before{
    background-color: #ff5945;
}
span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 18px;
    transition: all .2s ease;
}
span:hover{
    background-color: #c9c9c9;
    color: #fff;
}